<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="background"></div>
    <div class="top-bar">
        <div class="school-name">
            <a href="/" id="home-link">20 школа города Волжский</a>
        </div>
        <div class="nav-container">
            <div class="nav-links">
                <a href="/">Главная</a>
                <a href="/">Новости</a>
                <a href="#">Сведения</a>
            </div>
        </div>
    </div>
    <div class="logoped-container">
        <h1 class="main-title">Контакты</h1>
        <div class="content">
            <p><strong>Юридический адрес школы:</strong></p>
            <p>404132, г. Волжский Волгоградской области, улица Пушкина, дом 44</p>

            <p><strong>Фактический адрес школы:</strong></p>
            <p>404132, г. Волжский Волгоградской области, улица Пушкина, дом 44</p>

            <p><strong>График работы администрации:</strong></p>
            <p>с 8.00 до 17.00. Обед с 13.00-14.00</p>

            <p><strong>Электронный адрес:</strong></p>
            <p><a href="mailto:vlzh_sch20@volganet.ru" class="contact-link">vlzh_sch20@volganet.ru</a></p>

            <p><strong>Контактные телефоны:</strong></p>
            <ul>
                <li>(8443) 38-39-81 — директор, секретарь</li>
                <li>(8443) 39-72-42 — заместитель директора</li>
                <li>(8443) 38-39-84 — вахта, заведующий хозяйством</li>
            </ul>
        </div>
    </div>
</body>
</html>