<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профилактика употребления психоактивных веществ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="background"></div>
    <div class="top-bar">
        <div class="school-name">
            <a href="/">20 школа города Волжский</a>
        </div>
    </div>

    <div class="content-container drug-prevention-container">
        <h1>Несколько правил, позволяющих предотвратить потребление психоактивных веществ вашим ребенком</h1>
        <div class="content">
            <p>Как при любой болезни, при соблюдении определенных профилактических мер можно уберечь ребенка от потребления табака, алкоголя и наркотиков. Конечно, не все представленные ниже способы легко воплощаются, но в совокупности они дают реальный положительный результат.</p>

            <h2>Общайтесь друг с другом</h2>
            <p>Общение — основная человеческая потребность, особенно для родителей и детей. Отсутствие общения с вами заставляет его обращаться к другим людям, которые могли бы с ним поговорить.</p>
            <p>Но кто они и что посоветуют Вашему ребенку?</p>
            <p>Помните об этом, старайтесь быть инициатором откровенного, открытого общения со своим ребенком.</p>

            <h2>Выслушивайте друг друга</h2>
            <p>Умение слушать — основа эффективного общения, но делать это не так легко, как может показаться со стороны. Умение слушать означает:</p>
            <ul>
                <li>быть внимательным к ребенку;</li>
                <li>выслушивать его точку зрения;</li>
                <li>уделять внимание взглядам и чувствам ребенка, не споря с ним;</li>
                <li>не надо настаивать, чтобы ребенок выслушивал и принимал ваши представления о чем-либо.</li>
            </ul>
            <p>Важно знать, чем именно занят ваш ребенок. Иногда внешнее отсутствие каких-либо не желательных действий скрывает за собой вредное занятие. Например, подросток ведет себя тихо, не грубит, не пропускает уроков. Ну, а чем он занимается? Ведь употребляющие наркотические вещества и являются "тихими" в отличие от тех, кто употребляет алкоголь. Следите за тем, каким тоном вы отвечаете на вопросы ребенка. Ваш тон "говорит" не менее ясно, чем ваши слова. Он не должен быть насмешливым или снисходительным.</p>
            <p>Поощряя ребенка, поддерживайте разговор, демонстрируйте вашу заинтересованность в том, что он вам рассказывает. Например, спросите: "А что было дальше?" или "Расскажи мне об этом..." или «Что ты об этом думаешь?»</p>

            <h2>Ставьте себя на его место</h2>
            <p>Подростку часто кажется, что его проблемы никто и никогда не переживал. Было бы неплохо показать, что вы осознаете, насколько ему сложно. Договоритесь, что он может обратиться к вам в любой момент, когда ему это действительно необходимо. Главное, чтобы ребенок чувствовал, что вам всегда интересно, что с ним происходит. Если Вам удастся стать своему ребенку другом, вы будете самым счастливым родителем!</p>

            <h2>Проводите время вместе</h2>
            <p>Очень важно, когда родители умеют вместе заниматься спортом, музыкой, рисованием или иным способом устраивать с ребенком совместный досуг или вашу совместную деятельность. Это необязательно должно быть нечто особенное. Пусть это будет поход в кино, на стадион, на рыбалку, за грибами или просто совместный просмотр телевизионных передач. Для ребенка важно иметь интересы, которые будут самым действенным средством защиты от табака, алкоголя и наркотиков. Поддерживая его увлечения, вы делаете очень важный шаг в предупреждении от их употребления.</p>

            <h2>Дружите с его друзьями</h2>
            <p>Очень часто ребенок впервые пробует ПАВ в кругу друзей. Порой друзья оказывают огромное влияние на поступки вашего ребенка. Он может испытывать очень сильное давление со стороны друзей и поддаваться чувству единения с толпой. Именно от окружения во многом зависит поведение детей, их отношение к старшим, к своим обязанностям, к школе и так далее. Кроме того: в этом возрасте весьма велика тяга к разного рода экспериментам. Дети пробуют курить, пить. У многих в будущем это может стать привычкой.</p>
            <p>Поэтому важно в этот период — постараться принять участие в организации досуга друзей своего ребенка, то есть их тоже привлечь к занятиям спортом либо творчеством, даже путем внесения денежной платы за таких ребят, если они из неблагополучных семей. Таким образом, вы окажете помощь не только другим детям, но в первую очередь — своему ребенку.</p>

            <h2>Помните, что ваш ребенок уникален</h2>
            <p>Любой ребенок хочет чувствовать себя значимым, особенным и нужным. Вы можете помочь своему ребенку развить положительные качества и в дальнейшем опираться на них. Когда ребенок чувствует, что достиг чего-то, и вы радуетесь его достижениям, повышается уровень его самооценки. А это, в свою очередь, заставляет ребенка заниматься более полезными и важными делами, чем употребление наркотиков. Представьте, что будет с вами, если 37 раз в сутки к вам будут обращаться в повелительном тоне, 42 раза — в увещевательном, 50 — в обвинительном? ...</p>
            <p>Цифры не преувеличены: таковы они в среднем у родителей, дети которых имеют наибольшие шансы стать невротиками и психопатами. Ребенку нужен отдых от приказаний, распоряжений, уговоров, похвал, порицаний. Нужен отдых и от каких бы то ни было воздействий и обращений!</p>
            <p>Нужно время от времени распоряжаться собой полностью — т. е. нужна своя доля свободы. Без неё — задохнется дух.</p>

            <h2>Подавайте пример</h2>
            <p>Алкоголь, табак и медицинские препараты используются многими людьми. Конечно, употребление любого из вышеуказанных веществ законно, но здесь очень важен родительский пример. Родительское пристрастие к алкоголю и декларируемый запрет на него для детей дает повод обвинить вас в неискренности, в "двойной морали". Помните, что ваше употребление, так называемых, "разрешенных" психоактивных веществ открывает дверь детям и для "запрещенных". Несовершенные, мы не можем вырастить совершенных детей. Ну не можем, не можем, не бывает этого — и с вами не будет, если вы стремитесь к идеалу в ребенке, а не в себе!</p>

            <h2>ФЕДЕРАЛЬНАЯ СЛУЖБА РОССИЙСКОЙ ФЕДЕРАЦИИ ПО КОНТРОЛЮ ЗА ОБОРОТОМ НАРКОТИКОВ</h2>
            <p>Официальный сайт: <a href="http://www.fskn.ru" target="_blank">www.fskn.ru</a></p>
            <p>Единый телефонный антинаркотический номер: <strong>8-800-345-67-89</strong></p>

            <h2>Что делать, если это произошло — ваш ребенок употребляет наркотики?</h2>
            <p>Соберите максимум информации. Вот три направления, по которым вам нужно выяснить всё как можно точнее, полнее:</p>
            <ul>
                <li>всё о приеме наркотиков вашим ребёнком: что принимал, сколько, как часто, с какими последствиями, степень тяги, осознание или неосознание опасности;</li>
                <li>всё о том обществе или компании, где ребенок оказался втянутым в наркотики;</li>
                <li>всё о том, где можно получить совет, консультацию, помощь, поддержку.</li>
            </ul>
            <p>Ни в каком случае не ругайте, не угрожайте, не бейте.</p>
            <p>Беда, которая стала горем для вас и всей семьи, поправима. Но исправить ситуацию можно, только если вы отнесетесь к ней спокойно и обдуманно, так же, как вы раньше относились к другим неприятностям.</p>
            <p>Меньше говорите — больше делайте. Беседы, которые имеют нравоучительный характер, содержат угрозы, обещания "посадить" ребенка, "сдать" его в больницу, быстро становятся для него привычными, вырабатывают безразличие к своему поведению.</p>
            <p>Не допускайте самолечения. Категорически сопротивляйтесь, если подросток захочет заниматься самолечением, используя для этого медикаменты, рекомендованные кем-то из его окружения.</p>
            <p>Если вы предполагаете, что ребенок систематически употребляет алкоголь, наркотики, нужно, не теряя времени, обратиться к психиатру-наркологу.</p>
            <p>Не усугубляйте ситуацию криком и угрозами. Берегите собственные силы, они вам еще пригодятся. Тем более, что выплеском эмоций добиться чего-то будет сложно. Представьте себе, как вы бы себя вели, заболей ваш ребенок другой тяжелой болезнью. В такой ситуации ведь никому не придет в голову унижать и оскорблять его только за то, что он болен. Не считайте, что сын или дочь стали наркоманами только из-за собственной распущенности, корни болезни могут находиться намного глубже. Если состояние здоровья или поведение ребенка доказывают, что он принимает наркотики регулярно, значит, пришло время решительных действий.</p>

            <p>ᅠ ᅠ</p>
            <p><a href="https://disk.yandex.ru/i/dR-Q4I_J3GFmrm" target="_blank" class="material-link">Памятка - профилактика наркомании</a></p>
            <p><a href="https://disk.yandex.ru/i/1kW8o9243Kuj4C" target="_blank" class="material-link">Что такое СПАЙСЫ?</a></p>
        </div>
    </div>
</body>
</html>