<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профилактика</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="background"></div>
    <div class="top-bar">
        <div class="school-name">
            <a href="/" id="home-link">20 школа города Волжский</a>
        </div>
        <div class="nav-container">
            <div class="nav-links">
                <a href="/">Главная</a>
                <a href="#">Новости</a>
                <a href="#">Сведения</a>
            </div>
        </div>
    </div>
    <div class="logoped-container">
        <h1 class="main-title">ПРОФИЛАКТИКА СУИЦИДАЛЬНОГО ПОВЕДЕНИЯ</h1>
        <div class="content">
            <h2>РЕКОМЕНДАЦИИ ДЛЯ РОДИТЕЛЕЙ</h2>
            <p>В силу психолого-возрастных особенностей, отсутствия критического мышления, интеллектуальной незащищенности дети напрямую испытывают на себе влияние информации, выливающейся в огромных объемах на неокрепшее детское сознание.</p>
            <p>В качестве «трансляторов» информации выступают, в том числе, мультипликационные и художественные фильмы, прозаические и поэтические художественные произведения, музыкальные произведения и видеоклипы к ним, компьютерные игры, социальные сети и т.п., неограниченный доступ к которым открывает Интернет.</p>
            <p>Помимо полезного контента окружающая детей информационная среда содержит опасный контент, который способствует интеллектуальному развращению ребенка, усвоению им социально неприемлемых образцов поведения, культивирует готовность к деструктивным практикам, в том числе к суициду.</p>
            <p>Таким образом, современным родителям с целью предупреждения суицидального поведения в первую очередь следует учитывать специфику информационной среды, в которой развивается ребенок, а следовательно, постоянно интересоваться тем, в каких социальных сетях у ребенка есть странички, каким из них он уделяет больше внимания, в каких группах он состоит, на какие паблики подписан, какие темы для обсуждения его интересуют в большей мере, какую литературу ребенок читает, какую музыку слушает, какие фильмы смотрит, в какие игры играет и т.п.</p>
            <p>При этом, обязательным и неизменным условием предупреждения деструктивного или опасного поведения детей остается формирование и постоянное поддержание доверительных, открытых отношений между вами и вашими детьми.</p>
            <p>Необходимо при любых обстоятельствах, несмотря на разницу в интересах, предпочтениях, вкусах, манере говорить, одеваться и т.п., сохранять контакт со своим ребенком – важным является постоянное общение с подростком, несмотря на растущую в этом возрасте потребность в отделении от родителей.</p>

            <h3>Следует:</h3>
            <ul>
                <li>разговаривать с ребенком о том, что происходит в его жизни, что его волнует, радует, огорчает. Ежедневное общение с ребенком должно стать правилом в вашей семье;</li>
                <li>с уважением относиться к тому, что кажется ему важным и значимым, даже если с высоты вашего возраста и опыта вы считаете это несущественным, не стоящим внимания. Помните, что детское восприятие отличается от восприятия взрослого человека;</li>
                <li>обсуждать планы ребенка на ближайшее и отдаленное будущее. Узнайте, к чему ваш ребенок стремится, что хочет, кем себя видит, как он намерен добиваться поставленной цели, помогите ему составить реалистичный и последовательный план действий – ребенку важно знать, что вы верите в него;</li>
                <li>беседовать с ребенком на серьезные и, возможно, сложные для осмысления темы: что такое жизнь? в чем смысл жизни? что такое любовь, дружба, предательство и другие понятия? Эти темы очень волнуют подростков, они ищут собственное понимание того, что в жизни ценно и важно. Говорите о том, что ценно в жизни для вас. Не бойтесь делиться собственным опытом, собственными размышлениями. Доверительная беседа на равных всегда более эффективна, чем монологи родителей о том, что хорошо, а что плохо в менторском тоне;</li>
                <li>помогать ребенку выстраивать свой ценностный мир, в котором жизнь – сама по себе ценность, которую ни ценность социального успеха, ни ценность хороших оценок или карьеры и т.п., не смогут заменить. Важно научить ребенка получать удовольствие от простых и доступных вещей в жизни: природы, общения с людьми, познания мира. Лучший способ привить любовь к жизни – ваш собственный пример. Ваше позитивное мироощущение обязательно передастся ребенку и поможет ему справляться с неизбежно возникающими трудностями;</li>
                <li>формировать у ребенка понимание того, что опыт поражения также важен, как и опыт достижения успеха. Рассказывайте чаще о том, как вам приходилось преодолевать те или иные трудности. Конструктивно пережитый опыт неудачи делает человека более уверенным в собственных силах и устойчивым. И наоборот: привычка к успехам порой приводит к тому, что человек начинает очень болезненно переживать неизбежные неудачи;</li>
                <li>разбираться, что стоит за внешней грубостью ребенка. Подросток может делать вид, что вы совсем не нужны ему, он может обесценивать проявления заботы и нежности к нему. Тем не менее, ему очень важны ваша любовь, внимание, забота, поддержка. Надо лишь выбрать приемлемые для этого возраста формы их проявления;</li>
                <li>избегать авторитарного стиля воспитания подростков в силу его неэффективности и даже опасности. Чрезмерные запреты, ограничения свободы и наказания могут спровоцировать у подростка ответную агрессию или аутоагрессию (то есть, агрессию, направленную на себя). В подростковом возрасте предпочтительной формой воспитания является заключение договоренностей. Если запрет необходим, не пожалейте времени на объяснение целесообразности запрета. Если же ребенок продолжает протестовать, то постарайтесь вместе найти решение, устраивающее и вас, и его;</li>
                <li>найти разумный баланс между свободой и несвободой ребенка. Предоставляя свободу, важно понимать, что подросток еще не умеет с ней обходиться и что свобода может им пониматься как вседозволенность. Родителю важно распознавать ситуации, в которых ребенку уже можно предоставить самостоятельность, а в которых он еще нуждается в помощи и руководстве;</li>
                <li>вовремя обратиться к специалисту, если поймете, что вам по каким-то причинам не удалось сохранить контакт с ребенком. В индивидуальной или семейной работе с психологом вы освоите необходимые навыки, которые помогут вам вернуть тепло, доверие и мир в отношениях с ребенком.</li>
            </ul>

            <h3>Особое внимание по отношению к ребенку необходимо проявлять в следующих ситуациях:</h3>
            <ul>
                <li>при ссоре или остром конфликте со значимыми взрослыми;</li>
                <li>при безответной влюбленности или разрыве романтических отношений;</li>
                <li>при отвержении сверстниками, травле (в том числе в социальных сетях);</li>
                <li>при личной неудаче подростка на фоне высокой значимости и ценности социального успеха (высоких отметок, материального благосостояния, признания сверстников и т.п.);</li>
                <li>при нестабильной семейной ситуации (развод родителей, конфликты, проявление насилия в отношении ребенка);</li>
                <li>при резком изменении социального окружения (в результате смены места жительства, места учебы и др.).</li>
            </ul>

            <h3>Тревожными сигналами являются:</h3>
            <ul>
                <li>прямое или косвенно выраженное желание умереть или убить себя, а также высказывания о нежелании продолжать жизнь. Таким образом, ребенок пытается привлечь ваше внимание к себе и своим проблемам. Суждение о том, что человек, решившийся на самоубийство, никому не говорит об этом, является ошибочным;</li>
                <li>рискованное поведение, которое с большой долей вероятности может привести к причинению вреда своей жизни и здоровью;</li>
                <li>резкое изменение поведения: пренебрежение своим внешним видом, утрата интереса к любимым занятиям, апатия, безволие, появление желания уединиться, отдаление от близких людей, раздаривание дорогих ребенку вещей;</li>
                <li>появление проблем со здоровьем: потеря аппетита, либо, наоборот, чрезмерное потребление пищи, постоянное ощущение слабости, бессонница либо чрезмерная сонливость, кошмары во сне;</li>
                <li>изменение эмоционального фона: подавленное настроение на протяжении длительного времени, раздражительность, резкие перепады настроения, «беспричинные» слезы;</li>
                <li>внезапное снижение успеваемости и рассеянность, плохое поведение в школе, прогулы, нарушения дисциплины;</li>
                <li>наличие примера суицида в ближайшем окружении, а также среди значимых взрослых или сверстников, кумиров.</li>
            </ul>

            <h3>Что делать?</h3>
            <p>Если вы заметили указанные признаки, в первую очередь постарайтесь поговорить с ребенком «по душам». Важно помнить, что напрямую задавать вопросы о желании совершить суицид следует только в том случае, если ребенок сам затронул эту тему. Попытайтесь выяснить, чем обусловлено его настроение, поведение, реакция, что его волнует в данный момент, не чувствует ли он себя одиноким, никому не нужным, несчастным, загнанным в ловушку, должником. Обязательно следует выяснить, «какова причина» и «какова цель» совершаемого ребенком действия. Чаще всего ребенку достаточно просто выговориться, снять накопившееся напряжение, и его готовность к суициду снижается. При этом, не следует забывать, что ребенок, почувствовав облегчение после беседы, вскоре может опять вернуться к тем же мыслям. Поэтому даже после успешного разговора важно не оставлять его в одиночестве. Поддерживайте ребенка, будьте последовательны и настойчивы.</p>
            <p>Не бойтесь обращаться к специалистам – детскому (подростковому) психологу или детскому (подростковому) психиатру. Такое обращение не означает постановки на учет и клейма психической неполноценности. Оно поможет уберечь вашего ребенка от трагического поступка.</p>
            <p>Как правило, дети и подростки, покушающиеся на свою жизнь, психически здоровы, просто оказались в сложной ситуации, с которой трудно справиться самостоятельно, без помощи родителей и специалистов.</p>
            <p>Будьте внимательны и тактичны по отношению к своим детям! Любите и берегите их!</p>
        </div>
    </div>
</body>
</html>