<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кабинет психолога</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="background"></div>
    <div class="top-bar">
        <div class="school-name">
            <a href="/" id="home-link">20 школа города Волжский</a>
        </div>
        <div class="nav-container">
            <div class="nav-links">
                <a href="/">Главная</a>
                <a href="#">Новости</a>
                <a href="#">Контакты</a>
            </div>
        </div>
    </div>
    <div class="logoped-container">
        <h1 class="main-title">Кабинет психолога</h1>
        <div class="content">
            <p>Перспективное планирование работы педагога-психолога.</p>
        </div>
    </div>
</body>
</html>